<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1098075195436-8jrao6ja3nd933a5ld0foao2bi52gke7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098075195436-8jrao6ja3nd933a5ld0foao2bi52gke7</string>
	<key>API_KEY</key>
	<string>AIzaSyD7gpyd1KFueVuJ-szC5ykHjcNZLRL9vsI</string>
	<key>GCM_SENDER_ID</key>
	<string>1098075195436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.paradadesce.pechinchasdodia</string>
	<key>PROJECT_ID</key>
	<string>pechinchas-do-dia</string>
	<key>STORAGE_BUCKET</key>
	<string>pechinchas-do-dia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098075195436:ios:6a5ff4a095188abf</string>
	<key>DATABASE_URL</key>
	<string>https://pechinchas-do-dia.firebaseio.com</string>
</dict>
</plist>